
@using ApplicationForRestCountriesAPI.Models
@using Microsoft.AspNetCore.Mvc

@using System.Diagnostics
@using System.Net
@using System.Text.Json
@using Newtonsoft.Json



@model CountriesViewModel

@{

    ViewData["Title"] = "Home Page";
    

   

}


<section class="d-block">
    <div class="d-flex">
        <input class="form-control me-2 w-100" type="search" id="searchText" placeholder="Поиск по странам" required>
        <button class="btn btn-outline-success" type="submit" asp-controller="Home" asp-action="Search" >Поиск</button>
    </div>
    <div class="mt-3">
        <table class=" table" id="tableCountries" >
        <thead>Страны</thead>
            @foreach(var item in Model.Countries)
            {    
                <tr  >
                    <td >@item.name.common</td><td>@item.capital</td> <td><a class="btn-primary" asp-area="" asp-controller="Home" asp-action="Details" >Details</a></td>
                    </tr>
            }
              
    </table>
    </div>
    
</section>
<script> window.addEventListener('load',function(){

   let country = JSON.parse("@countriesAPI.Response");
   console.log(country);
   for (var i = 0; i< country.length;i++){
       let item = country[i];
       let name = item.name;
       let flag = item.flag;
       let capital = item.capital;


   }
   });
</script>